<header class="container" id="header">

     <div class="nav-app">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand" href="/admin">ADMIN</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                         <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/admin" role="button" data-toggle="dropdown"
                                   aria-expanded="false">
                                   Giới thiệu
                              </a>
                              <div class="dropdown-menu">
                                   <a style="color: black !important;" class="dropdown-item"
                                        href="/admin/gioi-thieu/cong-ty">Công
                                        ty</a>
                                   <a style="color: black !important;" class="dropdown-item"
                                        href="/admin/gioi-thieu/le-minh-duc">KTS.
                                        Lê Minh Đức</a>
                                   <a style="color: black !important;" class="dropdown-item"
                                        href="/admin/gioi-thieu/nhan-su">Nhân
                                        sự</a>
                              </div>
                         </li>
                         <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-expanded="false">
                                   Dự án
                              </a>
                              <div class="dropdown-menu">
                                   <a style="color: black !important;" class="dropdown-item" href="/admin/danh-muc">Danh
                                        mục</a>
                                   <a style="color: black !important;" class="dropdown-item" href="/admin/du-an">Các
                                        dự
                                        án</a>
                              </div>
                         </li>
                         <li class="nav-item active">
                              <a class="nav-link" href="/admin/slide">Ảnh slide </a>
                         </li>
                         <li class="nav-item active">
                              <a class="nav-link" href="/admin/dich-vu">Dịch vụ </a>
                         </li>
                         <li class="nav-item active">
                              <a class="nav-link" href="/admin/giai-thuong">Giải thưởng </a>
                         </li>
                         <li class="nav-item active ">
                              <a class="nav-link" href="/logout">Đăng xuất</a>
                         </li>
                    </ul>
               </div>

          </nav>
     </div>

</header>
<div class="container contact-block mt-2">
     <div style="text-align: left;" class="post-category mt-2">
          <p class="crossbar mt-2"></p>
     </div>
</div>