<div style="margin-top: 300px;" class="container">
     <center>
          <p class="crossbar container mt-5"></p>
          <p>Copyright © 2023 KTS.Lê Minh Đức. Đã đăng ký Bản quyền. Thiết kế bởi <a target="_blank"
                    href="https://www.facebook.com/venus19032001">VenusDev</a></p>
     </center>
</div>