<div class="container">
     <div class="post-category mt-2">
          <span class="post-category-item">
               <a href="/gioi-thieu/cong-ty">
                    Hồ sơ công ty
               </a>
          </span>
          <span class="post-category-item">
               <a href="/gioi-thieu/le-minh-duc">
                    KTS. Lê Minh Đức
               </a>
          </span>
          <span class="post-category-item">
               <a href="/gioi-thieu/nhan-su">
                    Nhân sự
               </a>
          </span>
          <p class="crossbar mt-2"></p>
     </div>

     <div class="post-content container">

          <div>{{{content}}}</div>

     </div>
</div>