{{>adminHeader}}
<div class="container mt-5">
     <a class="float-right m-1" href="/admin/giai-thuong/create">
          <button class="btn btn-primary">Thêm giải thưởng mới</button>
     </a>
     <table class="table table-dark table-hover table-striped table-bordered border-secondary">
          <thead>
               <tr>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col"></th>
               </tr>
          </thead>
          <tbody>
               {{#each listAward}}
               <tr style="cursor: pointer;" onclick="showDetail('{{id}}')">
                    <td>
                         <img style="height: 150px;" src="/images/{{image}}" alt="">
                    </td>
                    <td>{{description}}</td>
                    <td>
                         <a href="/giai-thuong/delete/{{id}}">
                              <i style="font-size: 30px; padding: 10px; color: rgb(204, 15, 15);"
                                   class="fa-sharp fa-solid fa-trash"></i>
                         </a>
                    </td>
               </tr>
               {{/each}}
          </tbody>
     </table>
</div>
<script>
     function showDetail(slug) {
          window.location.href = window.location.href + "/" + slug
     }
</script>
{{>footer}}