{{>adminHeader}}
<div class="container mt-5">
     <h3>Tạo danh mục dự án mới</h3>



     <form action="/danh-muc" method="post">

          <div class="form-group">
               <label>Tên danh mục:</label>
               <input type="text" value="{{title}}" name="title" class="form-control"
                    placeholder="Nhập tên danh mục...">
          </div>
          <div class="form-group">
               <label>Từ khóa: *các từ khóa dùng để hổ trợ tìm kiếm trên google. Mỗi từ khóa được
                    phân cách bởi dấu "phẩy". <a
                         style="color: aqua !important; text-decoration: underline !important;"
                         href="https://seotongthe.vn/cach-tao-keyword-hieu-qua-cho-website/" target="_blank">Xem
                         hướng dẫn chi tiết</a></label></br>
               <textarea style="width: 100%;" name="keyword" rows="3">{{keyword}}</textarea>
          </div>
          <div class="form-group">
               <label>Mô tả ngắn của bài viết: *Mô tả ngắn về bài viết. Khoảng 300 ký tự. <a
                         style="color: aqua !important; text-decoration: underline !important;"
                         href="https://carly.com.vn/blog/meta-description-la-gi/" target="_blank">Xem
                         hướng dẫn chi tiết</a></label></br>
               <textarea name="description" style="width: 100%;" rows="3">{{description}}</textarea>
          </div>

          <button class="btn btn-primary " type="submit">Tạo danh mục</button>



     </form>
</div>
{{>footer}}